body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-wrapper {
  width: 500px;
  height: 80%;
  border-radius: 30px;
  background-color: #ccc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px; /*내부에만 gap 생김*/
}

#result-container {
  width: 95%;
  height: 20%;
  border-radius: 20px;
  background-color: #897777;
}

#buttons-container {
  width: 95%;
  height: 80%; /*딱맞게 하고 gap으로 띄우기*/
  border-radius: 20px;
  background-color: #897777;
}
